.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
db.json
# _*
# *.log
.deploy_git/
node_modules/
public/
# source/_posts
# source/_data/bangumis.json
# themes/matery
# themes/next

package-lock.json
yarn.lock

*.ala